.footer{
    display: flex;
    justify-content: center;
    flex: floor;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: tan;
}

.footer-text{
    justify-content: center;
}