.about{
    display: flex;
    background-color: teal;
    color: white;
    justify-content: flex-start;
    text-align: center;

}

.headerabout{
    justify-content: center;
    text-align: center;
    
}