.about{
    display: flex;
    background-color: teal;
    color: white;
    justify-content: space-around;
    display: flex;
    height: 80%;
    width: 50%;
    text-align: center;

}

.headerabout{
    justify-content: center;
    text-align: center;
    
}