<h2>This is a little about myself</h2>
<div class="about">
<p> <img src="https://media-exp1.licdn.com/dms/image/C5603AQE1jveulKp0Aw/profile-displayphoto-shrink_200_200/0/1570748055673?e=1655942400&v=beta&t=te-WijXZlxhwD7NBLMLTpy-ql-_GEbNag3HNPb74UjM" alt="linkedin picture"></p>

<p> I'm orignally from Midland, MI, went to 3 different colleges (Ferris State; Go Dawgs!, Delta College, and Northwood University), and then ended up in metro Detroit. I'm interested in coding technologies as it is a high
    job growth field and will not be going away anytime soon. Also being apart of almost anything now a days, it's nice to understand the ins and outs of some languages. 
</p>
</div>

